<!DOCTYPE html>
<html>

	<style>
	* {
	  box-sizing: border-box;
	}

	.row {
	  display: flex;
	}
	/* Create three equal columns that sits next to each other */
	.column {
	  flex: 33%;
	  padding: 10px;
	}
	@media screen and (max-width: 600px) {
	  .column {
	    width: 100%;
	  }

	</style>

	<style>
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}
	</style>
	<style>
		td {
		  text-align: center;
		}
	</style>
	<style>
		table {
			width: 100%;
		}
	</style>

	<head><title>Star Route Brewery</title></head>

	<!-- log out button -->
	<a href="/">
		<button type="submit" style="float: right;" formmethod="get">Log Out</button>
	</a>

	<!-- SRB Pitcutr -->
	<img style="width:100%;" src="static/srb_pic.png" alt="SRB">

	<!-- Greeting -->
	<h1><center>Hi {{user}}</center></h1>
	
	<!-- columns -->
	<div class="row">

	<!-- Enter recipe -->
	  <div class="column" style="background-color:#aaa;">
	    <center>
		    <h2>Enter a new recipe:</h2>
	    </center>
	    <form method="post" action="/mainPage">
			<p>Name: <br><input type="text" name="recipeName"></p>
			<p>Notes: <br>
				<textarea rows=4 cols="50" name="recipeNotes"></textarea></p>
			<input type="submit" name="recipeEnter">
		</form>
	  </div>

	 <!-- View recipes -->
	  <div class="column" style="background-color:#bbb;">
	  	<center>
		    <h2>View Existing Recipes:</h2>
		    {% raw recipeTable %}
	    </center>
	    <!-- <input type="submit"> -->
	  </div>

	 <!-- Add users -->
	  <div class="column" style="background-color:#aaa;">
	  	<center>
		  	<h2>Access Requests:</h2>
	  	</center>
	  	<center>
	  		<form method="post" id="newUsers"></form>
		  	{% raw reqUserTable %}
	  	</center>
	  	<br>
	  	<input type="submit" name="grantAcc" form="newUsers" value="Grant Access">
	  	<input type="submit" name="deleteReqUser" form="newUsers" value="Delete">
	  	<br>

	  	<center>
		  	<h2>Current Users:</h2>
	  	</center>
	  	<center>
	  		<form method="post" id="currUsers"></form>
		  	{% raw currentUserTable %}
	  	</center>
	  	<br>
	  	<input type="submit" name="deleteCurrUser" form="currUsers" value="Delete">
	  	<br>

	  </div>

	</div>

</html>