<table border="1">
  <thead>
    <tr>
      <th> </th>
      <th>Name</th>
      <th>Username</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input form="newUsers" name="check0" type="checkbox" value="1">
      </td>
      <td>Test</td>
      <td>test</td>
      <td>user</td>
    </tr>
    <tr>
      <td>
        <input form="newUsers" name="check1" type="checkbox" value="1">
      </td>
      <td>dixie</td>
      <td>dixie1</td>
      <td>user</td>
    </tr>
  </tbody>
</table>