<!DOCTYPE html>
<html>

	<style>
	* {
	  box-sizing: border-box;
	}

	.row {
	  display: flex;
	}
	/* Create two equal columns that sits next to each other */
	.column {
	  flex: 50%;
	  padding: 10px;
	  height: 300px; /* Should be removed. Only for demonstration */
	}
	@media screen and (max-width: 600px) {
	  .column {
	    width: 100%;
	  }
	}
	</style>
		<head><title>Star Route Brewery</title></head>
	<img style="width:100%;" src="static/srb_pic.png" alt="SRB">

	<h1><center>Hi {{user}}. Please select an action:</center></h1>
	
	<div class="row">
	  <div class="column" style="background-color:#aaa;">
	    <h2>Enter a new recipe:</h2>
	    <p>Some text..</p>
	  </div>
	  <div class="column" style="background-color:#bbb;">
	    <h2>View Existing Recipe</h2>
	    <input type="submit">
	  </div>
	</div>

</html>